<div class="row">
    <div class="col-md-10">
        <h3>Random number generated:</h3>
        <label id="randomNumber"></label>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/Controllers/RandomNumberController.js"></script>

}